/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.menu {
  --box-shadow: none;
}

.header {
  text-align: center;
  font-size: 24px;
  //font-weight: lighter;
  letter-spacing: 0.17em;
  //padding-top: 10px;
  --box-shadow: none;
  color: var(--ion-color-dark-contrast);
}
ion-header::after {
  background-image: none;
}

.sort {
  --box-shadow:none;
  letter-spacing: 0.1em;
  padding-top: 10px;
  color: var(--ion-color-dark-contrast);
}


ion-menu-button {
  font-size: 40px !important;
  color: var(--ion-color-dark-contrast);;
}

ion-toolbar {
  --background: var(--ion-color-dark-solid);
}

ion-fab {
  color: var(--ion-color-dark);
  -webkit-box-shadow: #0d0d0d;
  box-shadow: #0d0d0d;
}

ion-card {
  border: 1px solid var(--ion-color-dark-contrast);
  box-shadow: none;
  color: var(--ion-text-color);
  background-color: transparent;
}

ion-card-header {
  color: var(--ion-text-color);
  font-size: larger;
  font-weight: bold;
}


h1 {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  opacity: 50%;
  padding-top: 50px;
  max-width: 190px;
  margin: 100px auto;
}
