<ion-header>
  <ion-toolbar>

    <ion-button class="menu" color="none" slot="start">
      <ion-menu-button size="large"></ion-menu-button>
    </ion-button>

    <ion-title class="header">
      Runways
    </ion-title>

    <ion-button class="sort" color="none"  slot="end" (click)="sort()">
      Sort
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content color="dark" fullscreen>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentActionSheet()" color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

    <div *ngIf="runways">
      <ion-card *ngFor="let runway of runways | async" (click)="edit(runway.title, runway.event, runway.runway, runway.steps, runway.id)">

        <ion-card-header>
          {{runway.event}}
        </ion-card-header>

          <ion-card-content>
            {{runway.runway}}
          </ion-card-content>

      </ion-card>
    </div>

  <div *ngIf="!runways">
    <h1>You don't have any saved runways.</h1>
  </div>

</ion-content>

