.menu {
  --box-shadow: none;
}

.header {
  text-align: center;
  font-size: 18px;
  //font-weight: lighter;

  --box-shadow: none;
  color: var(--ion-color-dark-contrast);
}

ion-header::after {
  background-image: none;
}


ion-menu-button {
  font-size: 40px !important;
  color: var(--ion-color-dark-contrast);
}

ion-toolbar {
  --background: var(--ion-color-dark-solid);
}


.no-shadow {
  --box-shadow: none;
}

.alignEnd {
  text-align: end;
}

hr {
  border: 1px solid var(--ion-color-dark-contrast);
  height: unset;
  margin-top: 0;
  margin-bottom: 0;
}

ion-button {
  --border-color: rgba(146, 146, 146, 0.81);
  --color: var(--ion-color-dark-contrast);
}


.my-custom-interface .select-interface-option {
  color: var(--ion-text-color);
}

.transparent {
  background-color: transparent;
}

.compareButton {
  color: var(--ion-text-color);
}

ion-segment-button {
  color: var(--ion-color-dark-contrast);
  --indicator-color: var(--ion-color-dark-contrast)
}

.eventsCompare {
  text-align: center;
  font-size: larger;
  padding: 15px;
}

.listClass {
  border-top: 1px solid #8f8f8f;
}
