<ion-header  >
  <ion-toolbar >

    <ion-button class="menu" color="none"  slot="start">
      <ion-menu-button size="large"></ion-menu-button>
    </ion-button>

    <ion-title class="header">
      IAAF Points Calculator
    </ion-title>

      <ion-button class="no-shadow" color="none" slot="end" >
        <ion-menu-button size="large"></ion-menu-button>
      </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content color="dark" fullscreen="true">


    <ion-segment value=2 [(ngModel)]="sexe">
      <ion-segment-button value=2>MEN</ion-segment-button>
      <ion-segment-button value=1>WOMEN</ion-segment-button>
    </ion-segment>

    <ion-segment value='Outdoor' [(ngModel)]="season">
      <ion-segment-button value='Outdoor'>OUTDOOR</ion-segment-button>
      <ion-segment-button value='Indoor'>INDOOR</ion-segment-button>
    </ion-segment>

        <ion-item class="transparent" color="none">
          <ion-label>Select Event:</ion-label>
      <!--    men outdoor-->
          <ion-select *ngIf="sexe ==2 && season == 'Outdoor'" class="custom-options" [interfaceOptions]="customAlertOptions" placeholder="Select event" [(ngModel)]="selectedEvent">
            <ion-select-option  value="{{event.value}}" *ngFor="let event of menEventsOutdoor">{{event.name}}</ion-select-option>
          </ion-select>
      <!--    men indoor-->
          <ion-select *ngIf="sexe ==2 && season == 'Indoor'" class="custom-options" [interfaceOptions]="customAlertOptions" placeholder="Select event" [(ngModel)]="selectedEvent">
            <ion-select-option  value="{{event.value}}" *ngFor="let event of menEventsIndoor">{{event.name}}</ion-select-option>
          </ion-select>
      <!--    women indoor-->
          <ion-select *ngIf="sexe ==1 && season == 'Outdoor'" class="custom-options" [interfaceOptions]="customAlertOptions" placeholder="Select event" [(ngModel)]="selectedEvent">
            <ion-select-option  value="{{event.value}}" *ngFor="let event of womenEventsOutdoor">{{event.name}}</ion-select-option>
          </ion-select>
      <!--    women outdoor-->
          <ion-select *ngIf="sexe ==1 && season == 'Indoor'" [interfaceOptions]="customAlertOptions" class="custom-options" placeholder="Select event" [(ngModel)]="selectedEvent">
            <ion-select-option  value="{{event.value}}" *ngFor="let event of womenEventsIndoor">{{event.name}}</ion-select-option>
          </ion-select>
  </ion-item>


  <ion-item color="none" lines="none">
    <ion-label>
      Performance:
    </ion-label>

    <ion-input placeholder="Input performance here:"  class="alignEnd" [(ngModel)]="perf">

    </ion-input>
  </ion-item>

  <ion-button expand="block"  color="dark" (click)="getScore(1)">Calculate</ion-button>

  <ion-item color="none" lines="none">
    <ion-label>
      IAAF Points achieved:
    </ion-label>
    <ion-input readonly="true" class="alignEnd" placeholder="Result will show here:" [(ngModel)]="score">

    </ion-input>
  </ion-item>


  <hr>



<!--  events to compare to-->
  <ion-button expand="block"  color="dark" (click)="addEvent()">Add event to compare</ion-button>

  <ion-item class="transparent" color="none" *ngFor="let number of numbers">

        <ion-label >{{number}}</ion-label>

        <ion-select class="custom-options" [interfaceOptions]="customAlertOptions" placeholder="Select season:" >
          <ion-select-option value="Outdoor">Outdoor</ion-select-option>
          <ion-select-option value="Indoor">Indoor</ion-select-option>
        </ion-select>

        <ion-select class="custom-options" [interfaceOptions]="customAlertOptions" placeholder="Select sex:" >
          <ion-select-option value="2">Men</ion-select-option>
          <ion-select-option value="1">Women</ion-select-option>
        </ion-select>

        <ion-select class="custom-options" [interfaceOptions]="customAlertOptions" placeholder="Select event:" >
          <ion-select-option value="{{event.value}}" *ngFor="let event of menEventsOutdoor">{{event.name}}</ion-select-option>
        </ion-select>


        <ion-input readonly="true"></ion-input>


  </ion-item>



</ion-content>

<ion-footer>
  <ion-toolbar >
    <ion-button class="compareButton" fill="clear" color="none" expand="full" (click)="compare()">Compare events</ion-button>
  </ion-toolbar>
</ion-footer>
