rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // if uid matches users/{uid}/** then the user can modify docs under this collection
    match /users/{uid}/saved/{docs} {
    	allow read, write: if user() == uid;
    }

    match /users/{uid}/runways/{docs} {
    	allow read, write: if user() == uid;
    }

    match /users/{user} {
    	allow create: if request.auth != null;
    }
  }

  function user() {
  	return request.auth.uid;
  }
}