<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401315847279-01jmgfhv8bdsf9ecb6irf00b807ofvae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401315847279-01jmgfhv8bdsf9ecb6irf00b807ofvae</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>401315847279-h0994i8mb1ahl5ugfio8lu8lv2f14u1b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFue1kMBei_ZylDWWUmtCxPCf_h-06WG0</string>
	<key>GCM_SENDER_ID</key>
	<string>401315847279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.trackit.app</string>
	<key>PROJECT_ID</key>
	<string>track-it-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>track-it-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401315847279:ios:75b0a914a1582b0b1e019a</string>
	<key>DATABASE_URL</key>
	<string>https://track-it-prod.firebaseio.com</string>
</dict>
</plist>