<ion-header>
  <ion-toolbar color="primary" >
    <ion-title>
      <p align="center">Login</p>
    </ion-title>
    <!--    <ion-button slot="end" >Register</ion-button>-->

  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="email" placeholder="johnsmith@hotmail.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" placeholder="******"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button (click)="loginEmail()" fill="outline">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        Login
      </ion-button>
      <ion-button (click)="loginGoogle()" fill="outline">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        Login with Google
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Don't have an account?</ion-label>
      <ion-button routerLink="/register" fill="outline"> Register</ion-button>

    </ion-item>


  </ion-list>

</ion-card>
<ion-content></ion-content>
