// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/


@font-face {
  --ion-font-family: 'Roboto';
  src: url('../assets/fonts/Roboto_Mono/RobotoMono-ThinItalic.ttf');
}

:root {
  --ion-font-family: 'Roboto';
}
//linear-gradient(180.06deg, #F2F2F2 0.02%, #EEEEEE 99.98%)
//linear-gradient(180deg, #08090A 0%, rgba(8, 9, 10, 0.9) 100%)
/** dark **/
:root {
  .light-mode {
    /** light **/
    --ion-color-dark: #ffffff;
    --ion-color-dark-rgb: 196, 196, 196;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #acacac;
    --ion-color-dark-tint: #cacaca;
    --ion-color-dark-solid: #ffffff;
    --ion-text-color: var(--ion-color-dark-contrast);
  }

  .dark-mode {
    --ion-color-dark: #000000;
    --ion-color-dark-rgb: 8, 9, 10;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #070809;
    --ion-color-dark-tint: #3d3c3c;
    --ion-color-dark-solid: #000000;
    --ion-text-color: var(--ion-color-dark-contrast);
  }
}
