<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list class="option-list-phone">

                    <ion-list-header>Track-it</ion-list-header>

                    <ion-list *ngFor="let e of events">


                        <ion-item mode="md" button *ngIf="e.children?.length>0" (click)="e.open = !e.open" lines="none"
                                  detail="false" color="none">
                            <ion-icon [class.closed-icon]="!e.open" [class.open-icon]="e.open" name="chevron-forward"
                                      slot="end"></ion-icon>

                            <ion-label>{{e.title}}</ion-label>
                        </ion-item>

                        <ion-list *ngIf="e.children?.length>0" [class.child-open]="e.open"
                                  [class.child-closed]="!e.open">
                            <ion-menu-toggle>
                                <ion-item mode="md" color="none" lines="none" *ngFor="let child of e.children"
                                          routerDirection="root" [routerLink]="[child.url]" (click)="e.open=!e.open"
                                          class="child">
                                    <ion-label>{{ child.title }}</ion-label>
                                </ion-item>
                            </ion-menu-toggle>
                        </ion-list>


                        <ion-menu-toggle *ngIf="e.url && !e.children">
                            <ion-item lines="none" routerDirection="root" [routerLink]="[e.url]" class="parent"
                                      color="none" detail="false">
                                <ion-label>{{ e.title }}</ion-label>
                            </ion-item>
                        </ion-menu-toggle>


                    </ion-list>

                </ion-list>
                <ion-list class="option-list-tablet-computer">
                    <ion-list-header>Track-it</ion-list-header>

                    <ion-list *ngFor="let e of events">


                        <ion-item mode="md" button *ngIf="e.children?.length>0" (click)="e.open = !e.open" lines="none"
                                  detail="false" color="none">
                            <ion-icon [class.closed-icon]="!e.open" [class.open-icon]="e.open" name="chevron-forward"
                                      slot="end"></ion-icon>

                            <ion-label>{{e.title}}</ion-label>
                        </ion-item>

                        <ion-list *ngIf="e.children?.length>0" [class.child-open]="e.open"
                                  [class.child-closed]="!e.open">
                            <ion-item mode="md" color="none" lines="none" *ngFor="let child of e.children"
                                      routerDirection="root" [routerLink]="[child.url]" (click)="e.open=!e.open"
                                      class="child">
                                <ion-label>{{ child.title }}</ion-label>
                            </ion-item>
                        </ion-list>


                        <ion-item *ngIf="e.url && !e.children" lines="none" routerDirection="root"
                                  [routerLink]="[e.url]" class="parent"
                                  color="none" detail="false">
                            <ion-label>{{ e.title }}</ion-label>
                        </ion-item>


                    </ion-list>


                </ion-list>


            </ion-content>
            <ion-footer class="option-list-phone">
                <ion-row>
                    <ion-col class="darkToggle" size="6" style="display: flex; align-items: center">
                        Settings
                    </ion-col>
                    <ion-col class="darkToggle" size="6" style="text-align: right">
                        <ion-menu-toggle>
                            <ion-button color="dark" routerDirection="root" routerLink="/settings" size="large"
                                        class="no-shadow">
                                <ion-icon name="settings-outline"></ion-icon>
                            </ion-button>
                        </ion-menu-toggle>
                    </ion-col>
                </ion-row>
            </ion-footer>
            <ion-footer class="option-list-tablet-computer">
                <ion-row>
                    <ion-col class="darkToggle" size="6" style="display: flex; align-items: center">
                        Settings
                    </ion-col>
                    <ion-col class="darkToggle" size="6" style="text-align: right">

                        <ion-button color="dark" routerDirection="root" routerLink="/settings" size="large"
                                    class="no-shadow">
                            <ion-icon name="settings-outline"></ion-icon>
                        </ion-button>

                    </ion-col>
                </ion-row>
            </ion-footer>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
