<ion-header>
    <ion-toolbar>

        <ion-button class="menu" color="none" slot="start">
            <ion-menu-button size="large"></ion-menu-button>
        </ion-button>

        <ion-title class="header">
            Saved
        </ion-title>

        <ion-button class="sort" color="none" slot="end" (click)="sort()">
            Sort
        </ion-button>

    </ion-toolbar>
</ion-header>

<ion-content color="dark" fullscreen>

    <ion-card *ngFor="let saved of events | async" class="savedEvent" button="true" type="button"
              (click)="openAlert(saved)">
        <ion-card-header>
            {{saved.title}}  -  {{saved.typeFull}}
        </ion-card-header>
        <ion-card-content *ngIf="saved.type == 'fPent'">
            Total: {{saved.total}}
        </ion-card-content>
        <ion-card-content *ngIf="saved.type != 'fPent'">
            Day 1: {{saved.dayOne}}, Day 2: {{saved.dayTwo}}, Total: {{saved.total}}
        </ion-card-content>
    </ion-card>


</ion-content>
