/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

a {
  color: var(--ion-color-dark-contrast);
}

.trackit {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  letter-spacing: 0.32em;
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: center;

}

.register {
  font-style: normal;
  font-size: 25px;
  letter-spacing: 0.20em;
  grid-column: 2;
  grid-row: 4;
  justify-self: center;
  align-self: center;
}

ion-input {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  --padding-start: 10px;
}

.email {
  border-radius: 10px;
  letter-spacing: 0.15em;
  font-size: 16px;
  //mix-blend-mode: color-dodge;

  background-color: var(--ion-color-dark-tint);
  color: var(--ion-color-dark-contrast);
  grid-column: 2;
  grid-row: 6;
}

.password {
  border-radius: 10px;
  letter-spacing: 0.15em;
  font-size: 16px;
  position: relative;
  top: -25px;
  //mix-blend-mode: color-dodge;

  background-color: var(--ion-color-dark-tint);
  color: var(--ion-color-dark-contrast);


  grid-column: 2;
  grid-row: 8;
}

ion-button {
  --border-color: var(--ion-color-dark-tint);
  --color: var(--ion-color-dark-contrast);
}

.registerButton {
  grid-column: 2;
  grid-row: 9;
  justify-self: end;
}

.googleButton {
  grid-column: 2;
  grid-row: 11;
}

.login {
  align-self: center;
  justify-self: center;
  grid-column: 2;
  grid-row: 13;
  letter-spacing: 0.15em;
  font-size: 16px;
}

.loginButton {
  grid-column: 2;
  grid-row: 14;
  letter-spacing: 0.15em;
  font-size: 16px;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 300px auto;
  grid-template-columns: auto 300px auto;
  -ms-grid-rows:65px 50px 70px 45px 40px 45px 35px 45px 45px 25px 45px 60px 45px 45px;
  grid-template-rows:65px 50px 70px 45px 40px 45px 35px 45px 45px 25px 45px 60px 45px 45px;
}


//
//.form{
//  grid-column: 2;
//  grid-row-start: 6;
//  grid-row-end: 12;
//}
